@charset "utf-8";
/****** CSS Document ******/

/****** Embedding fonts ******/

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('fonts/BebasNeue-webfont.eot');
	src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/BebasNeue-webfont.woff') format('woff'),
			 url('fonts/BebasNeue-webfont.ttf') format('truetype'),
			 url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('fonts/MyriadPro-Semibold.otf');
	font-weight: normal;
	font-style: normal;
}

/****** General ******/

#wrapper {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}

#wrapper_inside {
	width: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-color: #d9d6c7;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

.round {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.round_small {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.hide {
	display: none;
}

.popupWindow {
	display: none;
	position: fixed !important;
	_position: absolute;
	background: #f3f2ea;
	z-index: 2;
	padding: 10px;
}

.popupWindowContent {
	width: auto;
	height: auto;
	margin: 30px;
}

.popupWindowContent h1 {
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	color: #3c2116;
	text-align: left;
}

.popupClose {
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	color: #000;
	display: block;
	width: 50px;
	margin: 10px auto;
	position: relative;
	cursor: pointer;
}

#popupBackground {
	display: none;
	position: fixed !important;
	_position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	z-index:1;
}

/****** Menu ******/

#menu {
	width: 220px;
	height: 100%;
	display: block;
	float: left;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #494c51;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
}

#menu_colorline1, #menu_colorline2 {
	width: 5px;
	height: 100%;
	float: left;
	position: fixed;
	top: 0px;
}

#menu_colorline1 {
	left: 0px;
	background-color: #3c2116;
}

#menu_colorline2 {
	left: 5px;
	background-color: #ea6a19;
}

#menu_logo {
	width: 180px;
	height: 180px;
	display: block;
	margin-top: 30px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
}

.menu_sectionline {
	width: 210px;
	height: 10px;
	display: block;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 10px;
}

#menu ul {
	list-style-type: none;
	display: block;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 10px;
	padding: 0px;
}

#menu li {
	text-align: center;
	font-size: 25pt;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 8px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

#menu li a:link {
	color: #e4e4dc;
}

#menu li a:visited {
	color: #e4e4dc;
}

#menu li a:hover {
	color: #ffde00;
}

#menu li a:active {
	color: #ffde00;
}

/****** Content ******/

#content {
	display: block;
	background-color: #d9d6c7;
	margin-left: 220px;
	padding-top: 20px;
}

#content_title {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

#content_inside_wrapper {
	background-color: #f3f2ea;
	height: 580px;
}

#content_inside {
	display: block;
	padding: 10px;
}

#content_inside p {
	margin: 0px;
}

#content_sectionline {
	display: block;
	padding-top: 20px;
	padding-bottom: 0px;
}

#content_sectiontext {
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}

.icon {
	display: inline;
	padding-left: 3px;
	padding-right: 3px;
}

/****** Resume ******/

ul#resume_accordion {
	list-style: none;
	display: block;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding: 0px;
}

ul#resume_accordion li {
	padding: 0px;
}

ul#resume_accordion li a {
	display: block;
	float: left;
	overflow: hidden;
	width: 50px;
	height: 530px;
}

ul#resume_accordion li img {
	display: block;
	float: left;
}

table.resume_content {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

table.resume_content th {
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	color: #3c2116;
	text-align: left;
	padding-bottom: 10px;
}

table.resume_content tr, td {
	font-size: 11pt;
	width: auto;
}

table.resume_content td {
	padding-left: 15px;
	padding-bottom: 5px;
}

table.resume_content td.indent {
	padding-left: 40px;
}

table.resume_content td.fit {
	white-space: nowrap;
	width: 1px;
}

table.resume_content td.top_align {
	vertical-align: text-top;
}

table.resume_content td.more_margin {
	padding-bottom: 15px;
}

/****** Projects  ******/

#projects_slideshow {
	margin: 25px auto;
	width: 750px;
	height: 530px;
	overflow: auto;
	position: relative;
}

#projects_slidecontainer {
	margin: 0px auto;
	width: 650px;
	height: 480px;
	overflow: auto;
	position: relative;
}

#projects_statusbar {
	display: block;
	margin: 10px auto;
	width: 650px;
	height: 30px;
	overflow: auto;
	position: relative;
}

#projects_statusbarinner {
	display: block;
	margin: 0px auto;
	height: 30px;
	overflow: auto;
	position: relative;
}

a.projects_status {
	display: block;
	float: left;
	width: 20px;
	height: 10px;
	text-indent: -10000px;
	margin: 7px 15px 0px 15px;
	background-color: #d9d6c7;
	cursor: pointer;
}

a.project_curstatus {
	background-color: #ea6a19;
}

.projects_slide {
	display: block;
	margin: 0px auto;
	width: 650px;
	height: 480px;
	float: left;
}

.projects_slidecontent {
	display: block;
	margin: 0px 5px;
	width: 640px;
	height: 480px;
	float: left;
	background-color: #9c9986;
}

a.control {
	display: block;
	width: 50px;
	height: 480px;
	text-indent: -10000px;
	position: absolute;
	cursor: pointer;
}

a#leftcontrol {
	top: 0;
	left: 0;
	background: transparent url("../images/projects/arrow_left.png") 
		no-repeat center;
}

a#leftcontrol:hover {
	top: 0;
	left: 0;
	background: transparent url("../images/projects/arrow_left.png") 
		no-repeat center;
	background-color: rgba(73, 76, 81, 0.5);
}

a#rightcontrol {
	top: 0;
	right: 0;
	background: transparent url("../images/projects/arrow_right.png") 
		no-repeat center;
}

a#rightcontrol:hover {
	top: 0;
	right: 0;
	background: transparent url("../images/projects/arrow_right.png") 
		no-repeat center;
	background-color: rgba(73, 76, 81, 0.5);
}

.projects_mainpic {
	display: block;
	float: left;
	top: 0;
	left: 0;
	width: 320px;
	height: 480px;
}

.projects_maintext {
	display: block;
	float: right;
	top: 0;
	right: 0;
	width: 290px;
	margin: 0px 15px 10px;
}

.projects_maintext h1 {
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	color: #3c2116;
	text-align: left;
}

.projects_maintext p {
	font-size: 11pt;
}

a.projects_popuplink:before {
	content: url("../images/projects/logo_small.png") no-repeat center;
	margin-right: 8px;
}

a.projects_popuplink {
	display: block;
	float: right;
	width: 290px;
	height: 28px;
	margin: 7px 15px;
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
	font-size: 19pt;
	font-weight: normal;
	text-align: left;
	cursor: pointer;
}

a.projects_popuplink:hover {
	color: #e4e4dc;
	background-color: #494c51;
}

#projects_mainpic1 {
	background: url("../images/projects/de-mole-lish!.png") no-repeat center;
}

#projects_mainpic2 {
	background: url("../images/projects/four_lokomotion.png") no-repeat center;
}

/****** Footer ******/

#footer {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer p {
	font-size: 10px;
	color: #494c51;
}

#footer span {
	color: #ea6a19;
}
