@charset "utf-8";
/****** CSS Document ******/

/****** Embedding fonts ******/

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('fonts/BebasNeue-webfont.eot');
	src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/BebasNeue-webfont.woff') format('woff'),
			 url('fonts/BebasNeue-webfont.ttf') format('truetype'),
			 url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('fonts/MyriadPro-Semibold.otf');
	font-weight: normal;
	font-style: normal;
}

/****** General ******/

#wrapper {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}

#wrapper_inside {
	width: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-color: #d9d6c7;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

.round {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.hide {
	display: none;
}

/****** Menu ******/

#menu {
	width: 220px;
	height: 100%;
	display: block;
	float: left;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #494c51;
	font-family: 'BebasNeueRegular', Helvetica, sans-serif;
}

#menu_colorline1, #menu_colorline2 {
	width: 5px;
	height: 100%;
	float: left;
	position: fixed;
	top: 0px;
}

#menu_colorline1 {
	left: 0px;
	background-color: #3c2116;
}

#menu_colorline2 {
	left: 5px;
	background-color: #ea6a19;
}

#menu_logo {
	width: 180px;
	height: 180px;
	display: block;
	margin-top: 40px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
}

.menu_sectionline {
	width: 210px;
	height: 10px;
	display: block;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 10px;
}

#menu ul {
	list-style-type: none;
	display: block;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 10px;
	padding: 0px;
}

#menu li {
	text-align: center;
	font-size: 25pt;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 8px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

#menu li a:link {
	color: #e4e4dc;
}

#menu li a:visited {
	color: #e4e4dc;
}

#menu li a:hover {
	color: #ffde00;
}

#menu li a:active {
	color: #ffde00;
}

/****** Content ******/

#content {
	display: block;
	background-color: #d9d6c7;
	margin-left: 220px;
	padding-top: 30px;
}

#content_title {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

#content_inside_wrapper {
	background-color: #f3f2ea;
	height: 550px;
}

#content_inside {
	display: block;
	padding: 20px;
}

#content_inside p {
	margin: 0px;
}

#content_sectionline {
	display: block;
	padding-top: 20px;
	padding-bottom: 0px;
}

#content_sectiontext {
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}

.icon {
	display: inline;
	padding-left: 3px;
	padding-right: 3px;
}

/****** Resume ******/

#resume_slide {
	display: block;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 25px;
}

#resume_slide ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#resume_slide ul li {
	float: left;
	display: block;
	padding: 5px;
	margin-top: 15px;
}

#resume_slide ul li a {
	display: block;
	float: left;
	overflow: hidden;
	width: 50px;
	height: 460px;
}

#resume_slide ul li img {
	display: block;
	float: left;
}

#resume_slide ul li p {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0px;
	height: 400px;
	display: block;
	float: left;
}

/****** Footer ******/

#footer {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer p {
	font-size: 10px;
	color: #494c51;
}

#footer span {
	color: #ea6a19;
}
